<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SpriteCloud Test Automation">
    <test name="Test Automation">
         <classes>
             <class name="testClasses.HomePage"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->